
<div class="row">

	<% @confessions.each do |confession| %>
	

    <div class="span6 conf">
    
	<div class="confess_main"> <div class="span4">   <%= confession.txt %> </div> </br></br>
	<div class="confess_links">
            <%= link_to 'Show', confession %>   |
		    <%= link_to 'Edit', edit_confession_path(confession) %>   |
		    <%= link_to 'Destroy', confession, method: :delete, data: { confirm: 'Are you sure?' } %>
		    <div class= "created_at"> <%= confession.created_at %> </div>
		    </div>
    </div>
   </div>

	<% end %>
</div>


<br />

