.row
    .span2
    .span8
        %p#notice= notice
        
        .confession{:data => {:id => "#{@confession.id.to_s}"}}= @confession.txt
        
        #confCommentForm
            %textarea#newCommentTxtArea
            #commentBtn.btn.btn-custom Submit
          
        #confComments
            - for c in @confession.comments
                .comment
                    = c.txt
                    .created_at= c.created_at.strftime("%a %b %d at %l:%M %P") 
                    
        = link_to 'Return Home', root_path
    .span2