%p#notice= notice

.confession{:data => {:id => "#{@confession.id.to_s}"}}= @confession.txt

#confComments
  - for c in @confession.comments
    .comment= c.txt
  %textarea#newCommentTxtArea
  #commentBtn.btn.btn-success Submit



= link_to 'Edit', edit_confession_path(@confession) |
= link_to 'Back', confessions_path
