.row
  #scrollView.span3.conf.offset1
    - for c in @confessions
      -if show_comment(c)
        .wrapper{:data => {:id => "#{c.id.to_s}"}}
          =c.id.to_s
        = link_to view_cookie(c.id), confession_set_cookie_path(c), :id => "#{c.id.to_s}", :method => :put
        .confession{:data => {:id => "#{c.id.to_s}"}}
          .conftext= c.txt 
          .numcomments
            = c.comments.count
            = comment_count_text(c.comments.count)
          .timestamp= c.created_at.strftime("%a %b %d at %l:%M %P")
          .block
    = will_paginate @confessions

  #mainDetailView.span8
