.row
  #scrollView.span3.conf.offset1
    - for c in @confessions
      .wrapper{:data => {:id => "#{c.id.to_s}"}}
        =c.id.to_s
      .confession{:data => {:id => "#{c.id.to_s}"}}
        .conftext= c.txt 
        .numcomments
          = c.comments.count
          = comment_count_text(c.comments.count)
        .timestamp= c.created_at.strftime("%a %b %d at %l:%M %P") 
           
        .block
    = will_paginate @confessions

  #mainDetailView.span8
