<!DOCTYPE html>
<html>
<head>
  <title>Ironic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="title">Tufts Confessions</h1>


<div class="container">
	<div class="row">
	
	<div class="span4"></div>
	<div class="span2"><%= link_to 'New Confession', new_confession_path %></div>
	<div class="span2">Text </div>
	<div class="span4"></div>	
	</div>

<br />


<%= yield %>


</div>
</body>
</html>
