%html
  %head
    %title Tufts Confessions
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1#title= link_to 'Tufts Confessions', root_path
    .container
      .row.row-margin
        .span2
        .span8
          .span1
          .span2= link_to 'About', page_path("about")
          .span2= link_to 'New Confession', new_confession_path
          .span2 Text +1 617-229-6779
          .span1
        .span2
      = yield
